@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --background-color: #7945FF;
  --menu-color: #7945FF;
  --pink: #FD6687;
  --yellow: #FFCE67;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  min-height: 100vh;
  background-color: #7945FF;
}

.grid-wrapper-game-menu {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-menu {
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.game-menu-button {
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  line-height: 20.42px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 20px;
  background-color: #5C2DD5;
  border: solid transparent;
  color: white;
  font-family: "Space Grotesk", serif;
  cursor: pointer;
  margin-right: 130px;
  margin-left: 130px;
}

.game-menu-button:hover {
  background-color: #FD6687;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr) 1.5fr;
    width: 600px;
    height: 555px;
    background: url("../assets/grid.svg") no-repeat center/cover;
    position: relative;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grid-cell img {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-win-player-count {
  margin-right: 60px;
  border: solid 3px;
  padding: 40px 40px 17px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 0px 0px;
  text-align: center;
}

.game-win-cpu-count {
  margin-left: 60px;
  border: solid 3px;
  padding: 40px 40px 17px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 0px 0px;
  text-align: center;
}

.player-counter {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 71.46px;
}

.cpu-counter {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 71.46px;
}

.player {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  line-height: 25.52px;
  font-size: 20px;
  text-transform: uppercase;
}

.cpu {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  line-height: 25.52px;
  font-size: 20px;
  text-transform: uppercase;
}

.you-icon {
  position: absolute;
  top: 330px;
  left: 512px;
  z-index: 1;
}

.cpu-icon {
  position: absolute;
  top: 330px;
  right: 510px;
  z-index: 1;
}